@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  background: #e0e0e0;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e0e0e0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e0e0e0;
}

.recharts-wrapper {
  margin : 0 auto;
}

@page {
  width: 21cm;
  height: 29.7cm;
  margin: 25mm 20mm 25mm 20mm; 
}

@media print {
  .numberOfAnswersAllWaves,
  .numberOfAnswersLastWave,
  .waveEvolution,
  .answersByUniversityByWave,
  .sex {
    float: left;
    width: 100%;
    overflow: scroll;
  }
}

@media all {
  .page-break {
    display: none;
  }
}

@media print {
  .ranking {
    width: 999px
  }
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    border: none;
    box-shadow: none;
    page-break-after: always;
  }
}

.fill-grid {
  block-size: 810px;
  writing-mode: horizontal-tb;
}